<html>

<head>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
        <div class="row">

            <div class="section-heading">
                <h1 id="ctl00_cphContent_h1SiteTitle" class="site-title">
                    Create A New Project
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form action="">
                    <p>Project Name:</p>
                    <input type="text" name="">

                    <p>Company Name:</p>
                    <input type="text" name="">

                    <p>Project Description:</p>
                    <textarea name="" id="" cols="30" rows="10"></textarea>

                    <p>Category:</p>
                    <select>
                            <option value="informationTechnology">Information Technology</option>
                            <option value="business">Business Development</option>
                            <option value="architecture" selected>Architecture</option>
                        </select>

                    <p>Sub Category:</p>
                    <select name="IT_category">
                            <option value="web_dev">Website Development</option>
                            <option value="android_dev">Android App Development</option>
                            <option value="ios_dev" selected>iOS App Development</option>
                            <option value="hyb_dev" selected>Hybrid App Development</option>
                            <option value="seo">Search Engine Optimization</option>
                        </select>
                    <select name="Business_category">
                            <option value="smm">Social Media Marketing</option>
                            <option value="btl" selected>Below The Line Marketing</option>
                            <option value="atl" selected>Above The Line Marketing</option>
                            <option value="businessModel" selected>Business Model Creation/Reshaping</option>
                        </select>
                    <select name="Architecture_category">
                            <option value="commercial">Commercial Project</option>
                            <option value="residential">Residential Project</option>
                            <option value="interior">Interior Designing</option>
                        </select>

                    <p>Services:</p>
                    <textarea name="" id="" cols="30" rows="10"></textarea>

                    <p>Project Duration(number of months):</p>
                    <input type="number" name="">

                    <p>Bidding Time:</p>
                    <select name="Architecture_category">
                            <option value="1d">24 hours</option>
                            <option value="2d">2 Days</option>
                            <option value="4d">4 Days</option>
                            <option value="6d">6 Days</option>
                            <option value="8d">8 Days</option>
                            <option value="10d">10 Days</option>
                            <option value="12d">12 Days</option>
                            <option value="14d">14 Days</option>
                        </select>
                </form>

            </div>
        </div>
    </div>
</body>

</html>