<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <section class="blog-page spad pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <label>BETWEEN</label>
                    <h2>Company Name</h2>
                    <label>AND</label>
                    <h2>University Name</h2>

                    <p>This Memorandum of Understanding (MOU) sets for the terms and understanding between the (Company) and (University) to (Project Name).</p>

                    <h3>Background:</h3>
                    <p>(Why partnership important)</p>

                    <h3>Purpose:</h3>
                    <p>
                        This MOU will (purpose/goals of partnership) The above goals will be accomplished by undertaking the following activities: (List and describe the activities that are planned for the partnership and who will do what)
                    </p>

                    <h3>Reporting:</h3>
                    <p>(Record who will evaluate effectiveness and adherence to the agreement and when evaluation will happen)</p>

                    <h3>Reporting:</h3>
                    <p>(Record who will evaluate effectiveness and adherence to the agreement and when evaluation will happen)</p>

                    <label>Email provided by organization:</label>
                    <p>production@extensasol.com</p>

                    <label>Website URL:</label>
                    <p><a href="http://www.extensasol.com">http://www.extensasol.com</a></p>

                    <h2>Projects Status</h2>
                    <label>No. of projects posted:</label>
                    <p>12</p>
                    <label>No. of projects under development:</label>
                    <p>12</p>
                    <label>No. of projects completed:</h3>
                    <p>12</p>
                </div>
            </div>
        </div>
    </section>
    <br><br>

</body>

</html>