<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <h2>Career Bridge</h2>
                <p>C-II Johar Town Lahore <br> Tel.: +92 42 35212801-10 </p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <h2>Company</h2>
                <ul class="list-unstyled">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <h2>Browse</h2>
                <ul class="list-unstyled">
                    <li><a href="#">FAQ's</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Join us online</h2>
                        <ul class="list-unstyled join-us">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="copy-right">
    <div class="container">
       <div class="col-md-6 col-sm-6">   <p>©Career Bridge 2020 - SST, UMT</p> </div>
<!--        <div class="col-md-6 col-sm-6">-->
<!--            <span style="color: #9C9C9C;margin-right:20px;">Website Credits:  <a style="color: #FFF;" href="#">CB</a></span>-->
<!--        <span>Back to Top <i class="fa fa-angle-up"></i> </span>-->
<!--           </div>-->
    </div>
</div>
<script>
    function subscription()
    {
        window.location = "http://subscribe.cb.com/?email=" + $("#txtSubscription").val();
    }
</script>
