{% extends "base.html" %}

{% block body %}
<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
        <div class="row">

            <div class="section-heading">
                <h1 id="ctl00_cphContent_h1SiteTitle" class="site-title">
                    Collaborations
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-striped">
                    <tr>
                        <th> Project Name</th>
                        <th> Assigned To</th>
                        <th> Dated</th>
                        <th> Action</th>
                    </tr>
                    <tr>
                        <td>ERP</td>
                        <td>COMSATS, Lahore</td>
                        <td>12/10/19</td>
                        <td><input type="button" value="Open"> </td>
                    </tr>
                    <tr>
                        <td>Career Bridge</td>
                        <td>UMT, Lahore</td>
                        <td>15/11/19</td>
                        <td><input type="button" value="Open"> </td>
                    </tr>
                    <tr>
                        <td>Website</td>
                        <td>UOL, Lahore</td>
                        <td>12/12/19</td>
                        <td><input type="button" value="Open"> </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}