@charset "utf-8";
@font-face {
    font-family: TisaOT;
    src: url(fonts/TisaOT.woff2) format('woff2'), url(fonts/TisaOT.woff) format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: EurostileExt;
    src: url(fonts/eurostileext-reg-webfont.woff2) format('woff2'), url(fonts/eurostileext-reg-webfont.woff) format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: AkkuratLight;
    src: url(fonts/Akkurat-Light.woff2) format('woff2'), url(fonts/Akkurat-Light.woff) format('woff');
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: AkkuratBold;
    src: url(fonts/Akkurat-Bold.woff2) format('woff2'), url(fonts/Akkurat-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal
}

img {
    max-width: 100%
}

ul {
    padding: 0;
    margin: 0
}

li {
    list-style: none
}

a {
    text-decoration: none;
    position: relative;
    z-index: 2;
    color: #1c72b8
}

textarea {
    resize: none
}

*,
:focus {
    -webkit-tap-highlight-color: transparent;
    outline: 0
}

input[type=submit] {
    -webkit-appearance: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: TisaOT;
    color: #212121;
    margin: 0;
    padding: 0
}

.h1,
h1 {
    font-size: 65px;
    letter-spacing: 3px;
    line-height: 1.1
}

.h2,
h2 {
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 1.1
}

.h3,
h3 {
    font-size: 34px;
    letter-spacing: 2px;
    line-height: 1
}

.h4,
h4 {
    font-size: 24px;
    letter-spacing: 1px
}

.h5,
h5 {
    font-size: 20px;
    letter-spacing: .5px
}

.h6,
h6 {
    font-size: 18px;
    letter-spacing: .5px
}

canvas {
    opacity: .4;
    position: fixed;
    left: 0;
    top: 0
}

p {
    font-size: 18px;
    line-height: 34px;
    font-weight: 300;
    margin: 0;
    padding: 0
}

p a {
    color: #7c7d7d
}

.mainSplashMain {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.mainSplash {
    width: 100%
}

.homeSplash h1 {
    font-size: 100px;
    color: white;
    margin-bottom: 3px
}

.homeSplash h2 {
    font-size: 60px;
    color: #fff;
    margin-bottom: 10px
}

.homeSplash p {
    color: #fff
}

.mainSplashIn {
    max-width: 65%
}

#splashExplore {
    width: 100px;
    height: 100px;
    margin-left: -50px;
    font-size: 12px;
    font-family: EurostileExt;
    color: #fff;
    text-align: center;
    line-height: 100px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: 50px;
    display: block;
    transition: all .3s;
    text-transform: uppercase
}

#splashExplore:hover {
    background: #fff;
    color: #1c72b8
}


/*.mainSplashMain.homeSplash {
    background-image: linear-gradient(to bottom right, #0f1012, #181b90)!important
}*/


/*.fixedprbox:hover {}*/


/*text animation*/

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700);
body {
    font-family: 'Playfair Display';
    background-color: #fefefe;
    color: #0d0d0d;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

h1 {
    left: 50%;
    margin: 0;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

#title {
    font-weight: 700;
    display: inline-flex;
    margin: -5px;
    padding: 5px;
}

.title-letter {
    background: linear-gradient(to right, rgb(0, 102, 204) 2%, rgb(153, 204, 255) 120%);
    /*     background: -webkit-linear-gradient(#eee, #333) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: calc(6vw + 1rem);
    margin-left: -2px;
}

#sub-title {
    font-weight: 400;
    font-size: calc(0.2vw + 0.5rem);
    letter-spacing: calc(0.3vw + 0.5rem);
    text-transform: uppercase;
    position: relative;
    top: -5px;
}


/* Opacity For Start */

.title-letter,
#sub-title {
    opacity: 0;
}


/*Menu*/

@import "color-schemer";
@import "compass";
@import "compass/css3/animation";
@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.flex-container {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: -webkit-flex;
    /* Safari */
    display: flex;
    overflow: hidden;
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.flex-title {
    color: #f1f1f1;
    position: relative;
    font-size: 6vw;
    margin: auto;
    text-align: center;
    transform: rotate(90deg);
    top: 15%;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    @media screen and (max-width: 768px) {
        transform: rotate(0deg) !important;
    }
}

.flex-about {
    opacity: 0;
    color: #f1f1f1;
    position: relative;
    width: 70%;
    font-size: 2vw;
    padding: 5%;
    top: 20%;
    border: 2px solid #f1f1f1;
    border-radius: 10px;
    line-height: 1.3;
    margin: auto;
    text-align: left;
    transform: rotate(0deg);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    @media screen and (max-width: 768px) {
        padding: 0%;
        border: 0px solid #f1f1f1;
    }
}

.flex-slide {
    -webkit-flex: 1;
    /* Safari 6.1+ */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    cursor: pointer;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    @media screen and (max-width: 768px) {
        overflow: auto;
        overflow-x: hidden;
    }
}

.flex-slide p {
    @media screen and (max-width: 768px) {
        font-size: 2em;
    }
}

.flex-slide ul li {
    @media screen and (max-width: 768px) {
        font-size: 2em;
    }
}

.flex-slide:hover {
    -webkit-flex-grow: 3;
    flex-grow: 3;
}

.home {
    height: 100vh;
    background: transparent;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    @media screen and (min-width: 768px) {
        @include animation-properties((animation: aboutFlexSlide, animation-duration: $defaultSeconds, animation-iteration-count: 1, animation-delay: 0s));
    }
}

@keyframes aboutFlexSlide {
    0% {
        -webkit-flex-grow: 1;
        flex-grow: 1;
    }
    50% {
        -webkit-flex-grow: 3;
        flex-grow: 3;
    }
    100% {
        -webkit-flex-grow: 1;
        flex-grow: 1;
    }
}

.flex-title-home {
    @media screen and (min-width: 768px) {
        transform: rotate(90deg);
        top: 15%;
        @include animation-properties((animation: homeFlextitle, animation-duration: $defaultSeconds, animation-iteration-count: 1, animation-delay: 0s));
    }
}

@keyframes homeFlextitle {
    0% {
        transform: rotate(90deg);
        top: 15%;
    }
    50% {
        transform: rotate(0deg);
        top: 15%;
    }
    100% {
        transform: rotate(90deg);
        top: 15%;
    }
}

.flex-about-home {
    opacity: 0;
    @media screen and (min-width: 768px) {
        @include animation-properties((animation: flexAboutHome, animation-duration: $defaultSeconds, animation-iteration-count: 1, animation-delay: 0s));
    }
}

@keyframes flexAboutHome {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.about {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(abtus.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.contact-form {
    width: 100%;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
}

.contact {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(contactus.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.work {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(serv.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 0;
    transition: all .3s ease
}

@media (min-width: 768px) {
    .header {
        padding: 30px 0
    }
}

.header.user-scrolled {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0
}

.header.user-scrolled h1 img {
    width: 150px
}

.header__in {
    max-width: 1138px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.header__in .header-logo {
    width: 35%
}

.header .header__el {
    display: flex;
    align-items: center
}

.header .header__el .navigation-button {
    background-color: transparent;
    border: none;
    z-index: 99999;
    display: block;
    margin-left: 20px
}

@media (min-width: 768px) {
    .header .header__el .navigation-button {
        display: none
    }
}

.header .header__el .navigation-button .bar {
    background-color: #fff;
    border-radius: 20px;
    display: block;
    height: 4px;
    transform: rotate(0deg);
    transition: all ease .5s;
    width: 26px
}

.header .header__el .navigation-button .bar+.bar {
    margin-top: 5px
}

.header .header__el .navigation-button:hover .bar,
.header .header__el .navigation-button:focus .bar {
    background-color: #4bc869
}

.header__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    color: #fff
}

@media only screen and (min-width: 768px) {
    .header__link {
        font-size: 24px
    }
}

.header__link:hover span,
.header__link:focus span {
    border-color: #fff
}

.header__link .icon {
    margin-right: 10px;
    font-size: 24px;
    line-height: 1
}

@media only screen and (min-width: 768px) {
    .header__link .icon {
        margin-right: 20px;
        font-size: 28px;
        line-height: 1
    }
}

.header__link span {
    border-bottom: 1px solid transparent;
    display: none
}

@media (min-width: 768px) {
    .header__link span {
        display: block
    }
}

.header__menu {
    width: 37%
}

@media (min-width: 992px) {
    .header__menu {
        width: 33%
    }
}

.header__menu .menu {
    padding: 10px 0;
    display: none;
    position: absolute;
    right: 0;
    width: 100%;
    left: 0;
    top: 105px;
    background-color: #ffffff
}

@media (min-width: 768px) {
    .header__menu .menu {
        display: flex !important;
        position: inherit;
        justify-content: space-evenly;
        background-color: transparent
    }
}

.header__menu .menu li {
    padding: 5px 15px
}

.header__menu .menu li a {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    text-transform: capitalize;
    color: #000;
    text-decoration: none;
    transition: all ease .3s;
    position: relative
}

@media (min-width: 768px) {
    .header__menu .menu li a {
        color: #fff
    }
}

.header__menu .menu li a::after {
    width: 100%;
    position: absolute;
    bottom: -7px;
    left: 0;
    height: 1px;
    background-color: transparent;
    display: block;
    content: ' ';
    transition: all ease .3s
}

.header__menu .menu li a:hover,
.header__menu .menu li a:focus {
    color: #4BC869
}

.header__menu .menu li a:hover::after,
.header__menu .menu li a:focus::after {
    background-color: #4BC869
}

.header__menu .menu li+li {
    margin-top: 10px
}

@media (min-width: 768px) {
    .header__menu .menu li+li {
        margin: 0
    }
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none
}

@media only screen and (min-width: 768px) {
    .logo__img {
        margin-right: 20px
    }
}

.logo__text {
    display: none;
    text-transform: uppercase;
    font-weight: normal;
    color: #ffffff;
    font-size: 20px
}

@media only screen and (min-width: 768px) {
    .logo__text {
        display: block
    }
}

@media (min-width: 1200px) {
    .logo__text {
        font-size: 24px
    }
}