.header {
    z-index: 99;
    background-color:#FFF;
    width: 100%;
}
    .header .navbar-brand {
    
    height:90px;
    line-height:85px;
    
    }
.navbar-toggle {

    margin:0px;
    height:90px;

}
.header .topbar {
	z-index: 12;
	padding: 8px 0;
	position: relative;
}

.header .topbar ul.loginbar {
	margin: 0;
    padding-left:10px;
}

.header .topbar ul.loginbar > li {
	display: block;
    float:left;
	list-style: none;
}

.header .topbar ul.loginbar > li > a, 
.header .topbar ul.loginbar > li > a:hover {
	color: #141414;
	font-size: 11px;
	text-transform: uppercase;
    font-family: 'OpenSans';
}

.header .topbar ul.loginbar li.topbar-devider { 
    padding: 0px;
    font-size: 8px;
    width: 1px;
    background: #C0C0C0;
    top: 19px;
    margin: 6px 10px 0px 10px;
    height: 10px;
}
.header .topbar ul.loginbar li.topbar-search {
    position:relative;
}
.header .topbar ul.loginbar li.topbar-search div.search{
    position: absolute;
    width: 300px;
    background-color: #ECECED;
    border-radius: 0px 0px 8px 8px !important;
    right: 0px;
    padding: 10px 15px 0px 15px;
    top: 22px;
    display:none;
}
.header .topbar ul.loginbar li.topbar-search div.search span.radio input,
.header .topbar ul.loginbar li.topbar-search div.search span.radio label{
    margin-left:10px;
    color:#333;
    font-size: 13px;
}
.header .topbar ul.loginbar li.topbar-search-open div.search {
    display:block;
}
.header .topbar ul.loginbar li i.fa { 
	color: #bbb;
    cursor:pointer;
}
.header .topbar ul.loginbar li.topbar-search-open i.fa { 
	color: red;
    cursor:pointer;
}
.header .topbar ul.loginbar li.topbar-search .search .btn-u {
    display: block;
    background-color: #1B4B84;
    border: medium none;
    height: 32px;
    width: 27px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 0px 5px;
}
.header .collapse {
    
}
.header .navbar-brand {
    padding:0px;
    margin-top: -25px;
    margin-left: 0px !important;
}
.header .navbar-collapse {
    padding: 0px;
    float:right;
    margin-top:5px;
}
.header .navbar-brand .logo-fix {
    display:none;
}
/*.header .navbar-brand img{
    height:75px;
}*/
.header .navbar-brand img.hidden-lg {
    margin-left: 15px;
    width: 180px;
    height: 50px;
    margin-top: 25px;
}
.header .navbar {
    background-color:#FFFFFF;
    border:none;
    position:static;
    margin-bottom: 0px;
}
.header .navbar .navbar-nav {
    margin-top: 0px;
}
.header .navbar .navbar-nav .dropdown-menu{
    transition: all 0.238s ease 0s;
}

/* Language  */
.body-top {
    top: 0px !important;
}

.language-loginbar {
    list-style: none;
}

.translationlinks {
    height: 23px !important;
    font-size: 12px;
    padding: 0px 2px;
    background-color: #EAE8F5;
}

.translation-links li {
    float: left !important;
    list-style: none;
    display: block;
    padding-left: 2px;
}


/* Portrait tablets and medium desktops */
@media (max-width: 980px){
    .header .navbar .navbar-collapse {
        float:left;
        width:100%;
        /*margin-top: 25px;*/
        margin-top:0px;
    }
    .header .navbar .navbar-nav .dropdown-menu{
        /*top: 143px;*/
        top:auto;
    }
    .header .navbar-brand {
    margin-top:0px;
    
    }
}
@media (min-width: 750px) {
    .header .affix {
        height:82px;
        position:fixed !important;
        width:100%;
        margin-top: -33px;
    }
    .header ul.nav li.dropdown {
        position: static;
    }
    .header ul.nav li.dropdown:hover .dropdown-menu,
    .header ul.nav li.active .dropdown-menu {
        display: block;
    }
    .dropdown-menu {
    border-top:3px solid #064473 !important;
    
    }
    .header ul.nav li a.dropdown-toggle {
        color: #141414;
        padding: 15px 10px 25px;
        font-family: OpenSansLight;
        font-size: 19px;
    }
    .header ul.nav li:hover a.dropdown-toggle {
        background-color: #064473;
        color:#fff;
    }
    .header .dropdown-menu {
        position: absolute;
        float: left;
        /*top: 93px;*/
        top:auto;
        left: 0px;
        width: 100%;
        background: none repeat scroll 0% 0% #F0F0F0;
        border-top: 1px solid #E8E8E8;
        border-bottom: 1px solid #E8E8E8;
        box-shadow: 0px 10px 5px 0px rgba(57, 58, 60, 0.75);
        float: left;
        padding: 10px 0px;
        z-index: 99;
    }
    .header .dropdown-search .dropdown-menu {
        z-index: 98;
    }
    .header .dropdown-menu .container {

    }
    .header ul.nav li.dropdown .dropdown-menu li a {
        color: #fff;
        font-family: OpenSansSemiBold;
        font-size: 14px;
        line-height: 28px;
        background: #064473;
    padding: 5px 10px;
    }
    .header ul.nav li.dropdown .dropdown-menu li {
    margin-bottom:5px;
    
    }
        .header ul.nav li.dropdown .dropdown-menu li a:hover {
        
        text-decoration:none;
        
        }
    .header ul.nav li.dropdown .dropdown-menu li ul {
        margin: 10px 0px;
    }
    .header ul.nav li.dropdown .dropdown-menu li ul li a {
        color: #000000;
        font-family: OpenSans;
        font-size: 13px;
        line-height: 20px;
        background:transparent;
        padding:0px;
    }
        .header ul.nav li.dropdown .dropdown-menu li ul li {
         margin-bottom:0px;
         padding:2px 5px;
        
        }
            .header ul.nav li.dropdown .dropdown-menu li ul li:hover {
            background:#e7e4e4;
       
            
            }
        
    .wraper .affix {
        position:fixed !important;
        width:100%;
        box-shadow: 0px 10px 5px 0px rgba(57, 58, 60, 0.75);
    }
    .header .affix .navbar-brand img.hidden-xs {
        display:none !important;
    }
    .header .affix .navbar-brand .logo-fix {
        display:block !important;
        width:50px;
        height:50px;
    }
    .header .affix .navbar-brand img {
        margin-top: 25px !important;
    }
    .header .affix ul.nav li a.dropdown-toggle {
        padding: 15px 10px 15px;
    }
    .header .affix .navbar-collapse {
        float:right;
        width:auto;
        margin-top:0px;
    }
    .header .affix .navbar-nav .dropdown-menu {
        top:49px;
    }
}
@media (max-width: 749px) {
    .header .navbar .navbar-brand{
        margin-top:0px;
    }
    .header .navbar img.hidden-lg {
        margin-top:0px;
    }
    .header .navbar .navbar-collapse {
        margin:0px;
        padding:0px;
    }
    .header .navbar .navbar-collapse ul.navbar-nav {
        margin:0px;
        padding:0px;
    }
    .header ul.navbar-nav li.dropdown {
        margin-bottom:1px;
    }
    .header ul.navbar-nav li.dropdown a {
        padding: 13px 5px 13px 13px;
        background-color: #1B4B84;
        color: #FBFBFB;
        font-size: 16px;
        display:block;
        width:100%;
    }
    .header ul.navbar-nav li.dropdown .dropdown-menu,
    .header ul.navbar-nav li.dropdown .dropdown-menu *{
        padding:0px;
        margin:0px;
    }
    .header ul.navbar-nav li.dropdown .dropdown-menu ul li {
        border-bottom:1px solid #FFFFFF;
    }
    .header ul.navbar-nav li.dropdown .dropdown-menu ul li:last-child {
        border-bottom:none;
    }
    .header ul.navbar-nav li.dropdown .dropdown-menu a {
        padding: 10px 5px 10px 13px;
        background-color: #C9D9E9;
        color: #181818;
        font-size:14px;
    }
    .header ul.navbar-nav li.dropdown .dropdown-menu a:hover {
        text-decoration:none;
    }
    .header ul.navbar-nav li.dropdown .dropdown-menu ul li li i{
        display:none;
    }
    .header ul.navbar-nav li.dropdown .dropdown-menu ul li li{
        border-bottom: 1px solid #969697;
    }
    .header ul.navbar-nav li.dropdown .dropdown-menu ul li li:last-child{
        border-bottom:none;
    }
    .header ul.navbar-nav li.dropdown .dropdown-menu ul li li a{
        background-color: #FFF;
        color: #2F2F2F;
    }
}
@media (max-width: 500px) {
    .wraper .affix {
        position:relative;
    }
    .header .topbar  {
    display:none;
    }
    .header .navbar .navbar-brand {
        max-width: 200px;
        margin-top: 10px;
    }
    .navbar-toggle {
   height:85px;
    
    
    }
    .header .navbar .navbar-brand {
    height:75px;
    line-height:75px;
    
    
    }
}
.about_links {
    padding:0px;
    margin:0px;
    list-style:none;
}
@media (max-width:992px) {

    .header ul.nav li a.dropdown-toggle {
    font-size:18px !important;
    
    
    }



}
@media (max-width: 768px) {
    .header .navbar-brand {
        margin-left: 15px !important;
    }
}